

body {
	min-height: 100vh;
	background: #0c192c;
	overflow-x: hidden;
    font-family: Arial, sans-serif; /* Usa Arial, y si no, cualquier fuente sans-serif */
}


/*
Bubbles Start
*/
.contaienr {
	position: relative;
	width: 100%;
	height: 100vh;
	min-height: 30px;
	min-width: 30px;
}

.bubbles {
	position: relative;
	display: flex;
}

.bubbles span {
	width: 30px;
	height: 30px;
	min-width: 30px;
	min-height: 30px;
	background: #4fc3dc;
	margin: 0 3px;
	border-radius: 50%;
	box-shadow: 0 0 0 10px #4fc3dc44,
	0 0 50px #4fc3dc,
	0 0 100px #4fc3dc;
	animation: animate 15s linear infinite;
	animation-duration: calc(200s / var(--i));
}

.bubbles span:nth-child(even) {
	background: #ff2d75;
	box-shadow: 0 0 0 10px #ff2d7544,
	0 0 50px #ff2d75,
	0 0 100px #ff2d75;
}

@keyframes animate {
	0% {
		transform: translateY(100vh) scale(0);
		}
	100% {
		transform: translateY(-10vh) scale(1);
	}
}

/*
Bubbles End
*/
/*
Glowing Text Start
*/

.glowtext {
	display: flex;
	font-family: 'Poppins', sans-serif;
}

ul {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

ul li {
	position: relative;
	list-style: none;
	transform: translate(0, 1000%);
}

ul li a {
	position: relative;
	font-size: 2em;
	text-decoration: none;
	line-height: 1em;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: transparent;
	-webkit-text-stroke: 1px rgba(255,255,255,0.5);
}

ul li a::before {
	content: attr(data-text);
	position: absolute;
	color: #fff;
	width: 0%;
	overflow: hidden;
	transition: 1s;
	border-right: 8px solid var(--clr);
	-webkit-text-stroke: 1px var(--clr);
}

ul li a:hover::before {
	width: 100%;
	filter: drop-shadow(0 0 25px var(--clr));
}

/*
Var Glowing Text End
*/
